
.icon-basket:before { content: '\e800'; } /* '' */
.icon-dribble-hand:before { content: '\e801'; } /* '' */
.icon-layup:before { content: '\e803'; } /* '' */
.icon-shooter:before { content: '\e805'; } /* '' */
.icon-board:before { content: '\e807'; } /* '' */
